## Employee Pay Exercise

In [1]:
Employees = ['Mary','John','Bob','Mel','Jen','Sue',
            'Ken','Dave','Beth','Ray']

In [2]:
print (Employees)

['Mary', 'John', 'Bob', 'Mel', 'Jen', 'Sue', 'Ken', 'Dave', 'Beth', 'Ray']

In [3]:
#Get Employee's information

id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * 40

base_salary

Enter the id of the employee :001
Enter the name of the employee:Mary
Enter the pay rate of the employee: 15
Enter hours worked by employee:40

600

In [3]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * work_hour

base_salary

Enter the id of the employee :002
Enter the name of the employee:John
Enter the pay rate of the employee: 22
Enter hours worked by employee:25

550

In [4]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * work_hour

base_salary

Enter the id of the employee :003
Enter the name of the employee:Bob
Enter the pay rate of the employee: 35
Enter hours worked by employee:4

140

In [7]:
if work_hour > 40:
    base_salary = pay_rate + (work_hour - 40) * 1.5
    print(' The salary  the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', base_salary)
else:
    Gro_salary = pay_rate * work_hour
    print(' The salary of the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', Gro_salary)

 The salary of the person with id : 009    and name   Beth  is  1369

In [1]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * work_hour

base_salary

Enter the id of the employee :004
Enter the name of the employee:Jen
Enter the pay rate of the employee: 17
Enter hours worked by employee:33

561

In [2]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * work_hour

base_salary

Enter the id of the employee :007
Enter the name of the employee:Ken
Enter the pay rate of the employee: 40
Enter hours worked by employee:36

1440

In [3]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * work_hour

base_salary

Enter the id of the employee :008
Enter the name of the employee:Dave
Enter the pay rate of the employee: 20
Enter hours worked by employee:17

340

In [4]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * work_hour

base_salary

Enter the id of the employee :009
Enter the name of the employee:Beth
Enter the pay rate of the employee: 37
Enter hours worked by employee:37

1369

In [1]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * 40

base_salary

if work_hour > 40:
    Gro_salary = base_salary + (work_hour - 40) * 1.5 * pay_rate
    print(' The salary  the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', Gro_salary)
else:
    Gro_salary = pay_rate * work_hour
    print(' The salary of the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', Gro_salary)

Enter the id of the employee :004
Enter the name of the employee:Mel
Enter the pay rate of the employee: 43
Enter hours worked by employee:62
 The salary  the person with id : 004    and name   Mel  is  3139.0

In [2]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = int(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * 40

base_salary

if work_hour > 40:
    Gro_salary = base_salary + (work_hour - 40) * 1.5 * pay_rate
    print(' The salary  the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', Gro_salary)
else:
    Gro_salary = pay_rate * work_hour
    print(' The salary of the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', Gro_salary)

Enter the id of the employee :006
Enter the name of the employee:Sue
Enter the pay rate of the employee: 29
Enter hours worked by employee:45
 The salary  the person with id : 006    and name   Sue  is  1377.5

In [5]:
id_e = input("Enter the id of the employee :")
name_e = input("Enter the name of the employee:")
pay_rate = float(input("Enter the pay rate of the employee: "))
work_hour = int(input("Enter hours worked by employee:"))

base_salary = pay_rate * 40

base_salary

if work_hour > 40:
    Gro_salary = base_salary + (work_hour - 40) * 1.5 * pay_rate
    print(' The salary  the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', Gro_salary)
else:
    Gro_salary = pay_rate * work_hour
    print(' The salary of the person with id :', id_e, ' ' , ' and name',' ', 
      name_e,' ' 'is ', Gro_salary)

Enter the id of the employee :010
Enter the name of the employee:Ray
Enter the pay rate of the employee: 16.50
Enter hours worked by employee:80
 The salary  the person with id : 010    and name   Ray  is  1650.0